Makefile.in
Makefile.external
aclocal.m4
autom4te.cache/
build.log
build/
configure
compile
depcomp
docs/doxygen
include/config.h
include/config.h.in
install-sh
missing
user.config
RUN_OUTPUT
*.dump
dumpster.mem
config.guess
config.sub
.project
.cproject
*.pb.cc
*.pb.h
*.swp
